<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
/>

<link rel="stylesheet" href="/static/components/multiSelectInput/multiSelect.css">


<% if (options.length > 0) { %>
	<select class="multiSelectInput" name="<%= name %>" id="<%= labelId %>" multiple>
			<% options.forEach(option => { %>
					<% let optionId = option._id.toString(); %>
					<% let isSelected = courseCategories.some(cat => cat._id.toString() === optionId); %>
					<% if (isSelected) { %>
							<option selected value="<%= option._id %>"><%= option?.label ?? option.name %></option>
					<% } else { %>
							<option value="<%= option._id %>"><%= option?.label ?? option.name %></option>
					<% } %>
			<% }) %>
	</select>
<% } %>


<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
<script src="/static/components/multiSelectInput/multiSelect.js"></script>
