<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6 d-flex align-items-center w-100">
			<div class="d-flex-flex-column">
				<h3>کاربران</h3>
				<p class="admin_sub_heading mt-3">مجموع :  <span><%= users.totalDocs %></span></p>
			</div>
		</div>
	</div>
	<!-- tickets table -->
	<table class="mt-5 w-100">
		<thead>
			<tr class="text-center">
				<th>نام</th>
				<th>ایمیل</th>
				<th>نقش</th>
				<th>تنظیمات</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<% users.docs.forEach(user => { %>
				<tr class="text-center">
					<td>
						<p><%= user.firstName ?? user.email.slice(0,user.email.indexOf('@')) + '@' %><%= user.lastName ?? '' %></p>
					</td>
					<td class="d-none d-sm-table-cell">
						<%= user.email %>
					</td>
					<td class="d-none d-sm-table-cell">
						<% if (user.role == 'admin') { %>
							ادمین
						<% } else if (user.role == 'instructor') { %>
							مدرس
						<% } else  { %>
							کاربر
						<% } %>
					</td>
					<td>
						<div class="d-flex flex-column flex-lg-row justify-content-center">
							<a href="/admin/users/<%= user?._id %>/edit" class="btn btn-primary rounded ms-1 btn-sm">ویرایش</a>
							<% if (user.admin) { %>
								<a href="/admin/users/<%= user?._id %>/toggleAdmin" class="btn btn-primary rounded ms-1 btn-sm"></a>
							<% } %>
						</div>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		<!-- pagination -->
		<%- include('../../components/pagination.ejs' , {pagination : users}) %>
		<!-- pagination -->
	</div>
</div>



