<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6 d-flex align-items-center w-100">
			<div class="d-flex align-items-center w-100">
				<div class="ms-auto">
					<h3>کاربران</h3>
					<p class="admin_sub_heading mt-3">مجموع :  <span><%= users.totalDocs %></span></p>
				</div>
				<div class="d-flex align-items-center">
					<a class="btn btn-warning btn-sm" href="/admin/users/roles" type="button">بخش سطوح دسترسی</a>
					<a class="btn btn-info btn-sm me-3" href="/admin/users/new" type="button">ایجاد کاربر جدید</a>
				</div>
			</div>
		</div>
	</div>
	<!-- tickets table -->
	<table class="mt-5 w-100">
		<thead>
			<tr class="text-center">
				<th class="d-none d-sm-table-cell">نام</th>
				<th>ایمیل</th>
				<th>نقش</th>
				<th>تنظیمات</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<% users.docs.forEach(user => { %>
				<tr class="text-center">
					<td class="d-none d-sm-table-cell">
						<p><%= user.firstName ?? user.email.slice(0,user.email.indexOf('@')) + '@' %><%= user.lastName ?? '' %></p>
					</td>
					<td>
						<a href="mailto:<%= user.email %>"><%= user.email %></a>
					</td>
					<td>
						<% if (user.admin) { %>
							ادمین
						<% } else if (user.role == 'instructor') { %>
							مدرس
						<% } else if (user.role == 'author') { %>
							نویسنده
						<% } else  { %>
							کاربر
						<% } %>
					</td>
					<td>
						<div class="d-flex flex-column flex-lg-row justify-content-center">
							<a href="/admin/users/<%= user?._id %>/edit" class="btn btn-primary rounded ms-1 btn-sm">ویرایش</a>
							<% if (admin._id.toString() != user._id.toString()) { %>
								<a href="/admin/users/<%= user?._id %>/delete" class="btn btn-outline-primary rounded ms-1 btn-sm">حذف</a>
							<% } %>
							<a href="/admin/users/<%= user?._id %>/toggleAdmin" class="btn <%= user.admin ? 'btn-danger': 'btn-outline-info' %> rounded ms-1 btn-sm mt-2 mt-lg-0"><%= user.admin ? 'لغو مدیریت' : 'مدیر شو' %></a>
							<% if (user.admin) { %>
								<a href="/admin/users/<%= user?._id %>/changeRole" class="btn btn-info rounded ms-1 btn-sm mt-2 mt-lg-0">تغییر سطح دسترسی</a>
							<% } %>
						</div>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		<!-- pagination -->
		<%- include('../../components/pagination.ejs' , {pagination : users}) %>
		<!-- pagination -->
	</div>
</div>



