<main class="container mt-5">
	<!-- courses header start -->
	<div class="row ">
		<section class="d-flex flex-column col-12 col-lg-4 mt-4">
			<div class="d-flex">
				<img src="/static/imgs/blob.svg" alt="ุญุจุงุจ ูุง">
				<h1 class="fw-bold fs-3 ms-3 user-select-none">ุฏูุฑู ูุง ุขููุฒุด</h1>
			</div>
			<p class="mb-0 text-secondary mt-2">ุฏูุฑู ุจุจูุ ุชูุฑู ฺฉูุ ุจุฑูุงูู ููุณ ุดู ๐ช๐ป</p>
		</section>
		<!-- search box start -->
		<section class="d-flex col-12 col-lg-8 mt-4">
			<search class="w-100">
				<form class="d-flex justify-content-center align-items-center text-center position-relative" id="searchCourseForm" role="search" method="get">
					<div class="d-flex flex-column w-100">
						<input class="form-control me-2 w-100 p-3" type="text" placeholder="ุฏูุจุงู ฺ ูฺฏุฑุฏ ุ ..." name="s" >
						<% if (searchedValue.length > 0) { %>
							<p class="form-text mb-0 text-start fs-14px mt-2 d-flex align-items-center" ><span>ุนุจุงุฑุช ุฌุณุช ู ุฌู ุดุฏู : </span><span class="fw-bold"><%= searchedValue %></span> <a class="badge rounded-pill text-bg-info text-white ms-2" href="/courses?<%= sort ? 'sort=' + sort : '' %><%= type ? '&type=' + type :'' %>">ุญุฐู</a></p>
						<% } %>
					</div>
					<button style="left: 6px;top: 10px;" class="btn btn-sm position-absolute" title="ุฌุณุช ู ุฌู" type="submit"><i class='bx bx-search-alt fs-2' style='color:#2f2f2f'></i></button>
				</form>
			</search>
			<button class="btn btn-sm d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
				<i class='bx bxs-filter-alt fs-2' style='color:#2f2f2f' ></i>
			</button>
		</section>
		<!-- search box end -->
	</div>
	<!-- courses header start -->
	<!-- courses list & filters start -->
	<div class="row mt-5">
		<section class="col-lg-4 ">
			<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
				<div class="offcanvas-header d-flex d-lg-none align-items-center">
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body d-block">
					<form action="" method="get">
						<input hidden name="s" type="text" value="<%= searchedValue %>">
						<!-- filter: course type start -->
						<section class="bg-secondary-subtle p-4 rounded">
							<h3 class="fs-5">ููุน ุฏูุฑู </h3>
							<hr>
							<select class="form-select" name="type" id="">
								<option <%= type =='all' ? 'selected' : ''%> value="all">ููู ุฏูุฑู ูุง</option>
								<option <%= type =='paid' ? 'selected' : ''%> value="paid">ููุฏ</option>
								<option <%= type =='free' ? 'selected' : ''%> value="free">ุฑุงฺฏุงู</option>
								<option <%= type =='vip' ? 'selected' : ''%> value="vip">ุงุนุถุง ูฺู</option>
							</select>
						</section>
						<!-- filter: course type end -->
						<!-- sort: start -->
						<section class="bg-secondary-subtle p-4 rounded mt-4">
							<h3 class="fs-5">ูุฑุชุจ ุณุงุฒ ุจุฑ ุงุณุงุณ</h3>
							<hr>
							<div class="form-check">
								<input class="form-check-input" type="radio" value="oldest" name="sort" id="oldest" <%= sort == 'oldest' ? 'checked' : ''%>
								<label class="form-check-label" for="oldest">
									ูุฏู ุชุฑู
								</label>
								</div>
								<div class="form-check">
								<input class="form-check-input" type="radio" value="newest" name="sort" id="newest" <%= sort == 'newest' ? 'checked' : '' %>>
								<label class="form-check-label" for="newest">
									ุฌุฏุฏ ุชุฑู
								</label>
								</div>
						</section>
						<!-- sort: end -->
						<!-- category : start -->
						<section class="bg-secondary-subtle p-4 rounded mt-4">
							<h3 class="fs-5">ุฏุณุชู ุจูุฏ ูุง</h3>
							<hr>
						</section>
						<!-- category : end -->
						<div class="d-grid"><button type="submit" class="btn btn-warning d-block mt-3">ุงุนูุงู</button></div>
					</form>
					<!-- certificate start -->
					<section class="bg-secondary-subtle p-4 rounded mt-4 d-flex flex-column justify-content-center align-items-center">
						<img src="/static/imgs/course-certificate.png" alt="ูุฏุฑฺฉ">
						<div class="cert-heading position-relative d-inline">
							<svg style="right: 25%;" class="position-absolute top-0 translate-middle" width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="6.76471" transform="matrix(-1 0 0 1 18.2646 16.2354)" fill="#3B82F6"></circle>
                <circle r="4.73529" transform="matrix(-1 0 0 1 4.73541 8.79389)" fill="#FFA826"></circle>
                <circle r="2.70588" transform="matrix(-1 0 0 1 14.882 2.70588)" fill="#22C55E" fill-opacity="0.7"></circle>
            </svg>
						<h3 class="fw-bold fs-5 text-center">ฺฏูุงู ูพุงุงู ุฏูุฑู</h3>
						<p class="mb-0 text-center mt-3">
							ุดูุง ูโุชูุงูุฏ ุฏุฑ ูพุงุงู ูุฑ ุฏูุฑู ุงุฒ ุฑุงฺฉุช ฺฏูุงู ูพุงุงู ุฏูุฑู ุจู ููุฑุงู ฺฏูุงู ุชุงุฏู ูู ุฏุฑุงูุช ฺฉูุฏุ ุจุฑุง ูุทุงูุนู ุฌุฒุฆุงุช ุจุดุชุฑ ุจู ุตูุญู ุฒุฑ ูุฑุงุฌุนู ฺฉูุฏ.
						</p>
						<a class="link text-center d-block mt-2" href="#">ุจู ุฒูุฏ ...</a>
						</div>
					</section>
					<!-- certificate end -->
				</div>
			</div>
		</section>
		<section class="col-12 col-lg-8">
			<div class="row d-flex flex-wrap justify-content-center" style="gap: 16px;">
				<% if (courses.docs.length > 0) { %>
					<% courses.docs.forEach(course => { %>
						<%- include('../../components/courseCard.ejs' , {course:course}) %>
					<% }) %>
				<% } else { %>
					<p class="mb-0 text-center">ุฏูุฑู ุง ุงูุช ูุดุฏ ! ๐ฃ </p>
				<% }  %>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<!-- pagination -->
				<%- include('../../components/pagination.ejs' , {pagination : courses}) %>
				<!-- pagination -->
			</div
		</section>
	</div>
	<!-- courses list & filters end -->
</main>

<!-- <script src="/static/js/course.js"></script> -->




