<meta property="og:title" content="<%= course.title %>" />
<meta property="og:description" content="<%= course.description.substr(0 ,100) %>" />
<meta property="og:image" content="<%= course.thumbnail.path %>" />
<meta property="og:url" content="<%= url %>" />
<meta property="og:locale" content="fa_IR" />



<main class="container mt-5">
	<div class="row"><%- include('../../components/breadCrumbs.ejs') %></div>

	<!-- course single header start -->
	<div class="row bg-secondary-subtle p-4 rounded-top">
		<section class="col-12 col-lg-6 d-flex flex-column justify-content-center">
			<h1 class="fw-bold mt-4 mt-lg-0"><%= course.title %></h1>
			<p class="mb-0"><%= course.description %></p>
			<div class="d-flex w-75 mt-4">
				<div class="d-flex flex-column align-items-start">
					<% if (isAuthenticated) { %>
						<% if (course.type == 'paid' || course.type == 'vip') { %>
							<% if (canUse) { %>
								<div class="alert alert-success" role="alert">
									<p class="mb-0">شما به این دوره دسترسی دارید.</p>
								</div>
								<button class="btn btn-primary rounded d-inline-flex align-items-center mb-3 mb-lg-0">
									<img loading="lazy" src="/static/imgs/eduIcon.svg" alt="ساعت">
									<span class="ms-2">مشاهده دوره</span>
								</button>
							<% } else { %>
								<button type="button" class="btn btn-primary rounded d-inline-flex align-items-center">
									<!-- icon -->
									<img loading="lazy" class="me-2 mb-1" src="/static/imgs/eduIcon.svg" alt="کلاه فارغ التحصیلی">
									<span>خرید نقدی دوره</span>
								</button>
								<p class="d-flex align-items-center mb-2 mt-1">
									<img loading="lazy" src="/static/imgs/star.svg" alt="ستاره">
									<span class="text-secondary ms-2 fw-bold" style="font-size: 12px"> رایگان برای اعضای ویژه</span>
								</p>
							<% } %>
						<% } else if (course.type == 'free') { %>
							<button class="btn btn-primary rounded d-inline-flex align-items-center">
								<img loading="lazy" class="me-2 mb-1" src="/static/imgs/eduIcon.svg" alt="کلاه فارغ التحصیلی">
								<span>مشاهده دوره</span>
							</button>
						<% } %>
					<% } else { %>
							<p class="mb-0" style="font-size: 14px;">برای دریافت و مشاهده دوره ابتدا وارد حساب کاربری خود شوید.</p>
					<% }  %>
				</div>
				<p class="ms-auto mb-0">
					<% if (isAuthenticated) { %>
						<% if (course.type == 'paid') { %>
							<% if (canUse) { %>

							<% } else { %>
								<span class="fs-1 fw-bold course-price me-2" data-price="<%= course.price %>"></span>
								<img loading="lazy" src="/static/imgs/toman-black.svg" width="30" height="32" alt="تومان">
							<% }  %>
						<% } else if (course.type == 'free') { %>
							<span class="text-primary fs-2 fw-bold">رایگان!</span>
						<% } %>
					<% } else { %>
					<% } %>
				</p>
			</div>
		</section>
		<section class="col-12 col-lg-6 order-first order-lg-last">
			<img class="img-fluid rounded" loading="lazy" src="<%= course.thumbnail.path %>" alt="<%= course.title %>" />
		</section>
	</div>
	<!-- course single header end -->
	<div class="row d-flex flex-wrap flex-row bg-secondary-subtle rounded-bottom">
		<hr class="w-75 mx-auto border border-secondary" />
		<ul style="list-style: none" class="d-flex mb-0 d-inline-block">
			<li class="mx-2">
				<a class="link link-dark" href="#">
					<img loading="lazy" src="/static/imgs/heart.svg" alt="لایک">
					<span>2</span>
				</a>
			</li>
			<li class="mx-2">
				<a class="link link-dark" href="#">
					<img loading="lazy" src="/static/imgs/comment.svg" alt="کامنت">
					<span>23</span>
				</a>
			</li>
			<p class="ms-auto d-flex align-items-center">
				<span class="me-2">اشتراک گذاری: </span>
				<a href="https://telegram.me/share/url?url=<%= url %>" class="link link-dark fs-3 me-3"><i style="font-size: 22px;" class='bx bxl-telegram text-secondary'></i></a>
			</p>
		</ul>
	</div>
</main>

<!-- course detail section start -->
<div class="container mt-5">
	<div class="row g-5">
		<!-- course main section start -->
		<section class="col-12 col-lg-8">
			<!-- warranty start -->
			<div class="row bg-secondary-subtle rounded p-5 pb-2">
				<h2 class="fw-bold fs-4">گارانتی بازگشت وجه</h2>
				<div class="d-flex my-3">
					<div class="flex flex-column">
						<p style="line-height: 30px;">برای آنکه به شما اطمینان دهیم، که ما از محتوای دوره‌های خود ۱۰۰ درصد مطمئن هستیم، برای این دوره گارانتی بازگشت وجه قرار داده‌ایم و این به این معنی است که اگر شما محتوای این دوره را به شکل کامل مشاهده کنید، اما نتیجه‌ای که به شما قول دادیم را دریافت نکنید ۱۰۰ درصد مبلغ پرداختی شما را برگشت خواهیم زد.</p>
						<a class="link-dark" href="#"><span class="me-2">مراحل و فرآیند گارانتی</span>
							<img loading="lazy" src="/static/imgs/arrow.svg" alt="فلش">
						</a>
					</div>
				</div>
			</div>
			<!-- warranty end -->
			<!-- episodes start -->
			<div class="row bg-secondary-subtle rounded p-5 my-5">
				<% if (course.type == 'paid' || course.type == 'vip' ) { %>
					<% if (isAuthenticated) { %>
							<% if (!canUse) { %>
								<div class="alert alert-danger" role="alert">
									<p class="mb-0">برای مشاهده تمامی قسمت های دوره این دوره را  خریداری کنید یا به کاربر ویژه تبدیل شوید.</p>
								</div>
							<% }%>
						<% } else { %>
							<div class="alert alert-danger" role="alert">
								<p class="mb-0">برای مشاهده تمامی قسمت های دوره باید وارد حساب کاربری خود شوید</p>
							</div>
						<% } %>
				<% } %>
				<h2 class="fw-bold fs-4 mt-3">جلسات دوره</h2>
					<% if (course.episodes.length > 0) { %>
						<table class="mt-4">
							<tbody>
						<% course.episodes.forEach(episode => { %>
							<% if (episode.type == 'paid' || episode.type == 'vip') { %>
									<% if (!canUse) { %>
										<tr class="paid-episode rounded p-3 my-3">
											<td>
												<span class="fs-5"><i class='bx bxs-lock-alt' style='color:#333333'  ></i></span>
											</td>
											<td>
													<span class="me-2"><%= episode.number %></span>
													<a href="/courses/<%= course.slug %>/episodes/<%= episode.number %>" class="border-start border-dark ps-2"><%= episode.title %></a>
											</td>
											<td>
												<span data-time="<%= episode.time %>" style="font-size: 12px;" class="pt-1 ms-1 course-time"></span>
												<img loading="lazy" src="/static/imgs/clock.svg" alt="ساعت">
											</td>
											<td class="text-center">
												<span class="fs-5"><i class='bx bxs-lock-alt' style='color:#333333'></i></span>
											</td>
										</tr>
									<% } else { %>
										<tr>
											<td>
												<a href="/<%= episode.download() %>" class="link link-dark fs-5"><i class='bx bxs-download' style='color:#198754'  ></i></a>
											</td>
											<td>
												<span class="me-2"><%= episode.number %></span>
												<a href="/courses/<%= course.slug %>/episodes/<%= episode.number %>" class="border-start border-dark ps-2"><%= episode.title %></a>
											</td>
											<td>
												<span data-time="<%= episode.time %>" style="font-size: 12px;" class="pt-1 ms-1 course-time"></span>
												<img loading="lazy" src="/static/imgs/clock.svg" alt="ساعت">
											</td>
											<td>
												<a href="#" class="d-flex align-items-center justify-content-center btn">
													<span class="me-2">مشاهده</span>
													<img loading="lazy" src="/static/imgs/eye.svg" alt="ساعت">
												</a>
											</td>
										</tr>
									<% } %>
							<% } else if (episode.type == 'free') { %>
								<tr>
									<td>
										<a href="/<%= episode.download() %>" class="link link-dark fs-5"><i class='bx bxs-download' style='color:#198754'  ></i></a>
									</td>
									<td>
										<span class="me-2"><%= episode.number %></span>
										<a href="/courses/<%= course.slug %>/episodes/<%= episode.number %>" class="border-start border-dark ps-2"><%= episode.title %></a>
									</td>
									<td>
										<span data-time="<%= episode.time %>" style="font-size: 12px;" class="pt-1 ms-1 course-time"></span>
										<img loading="lazy" src="/static/imgs/clock.svg" alt="ساعت">
									</td>
									<td>
										<a href="#" class="d-flex align-items-center justify-content-center btn">
											<span class="me-2">مشاهده</span>
											<img loading="lazy" src="/static/imgs/eye.svg" alt="ساعت">
										</a>
									</td>
								</tr>
							<% }  %>
						<% }) %>
					</tbody>
					</table>
					<% } else { %>
						<p>هنوز جلسه ای ضبط نشده است </p>
					<% }  %>
			</div>
			<!-- episodes end -->
		</section>
		<!-- course main section end -->
		<!-- course main section meta info -->
		<section class="d-none d-lg-block col-lg-4">
			<!-- course score start -->
			<div class="row bg-secondary-subtle rounded">
				<section class="d-flex px-5 pb-3 pt-4 justify-content-between align-items-center">
					<span>تکمیل ضبط</span>
					<div class="score d-flex flex-column">
						<%- include('../../components/rating.ejs') %>
						<p class="mb-0 text-center mt-1" style="font-size: 14px;">4.67 از 9 رای</p>
					</div>
				</section>
			</div>
			<!-- course score end -->
			<div class="row mt-4">
				<section class="d-flex flex-wrap gap-3 justify-content-center">
					<div class="meta-box rounded bg-secondary-subtle d-flex flex-column justify-content-center align-items-center p-3">
						<img width="25px" src="/static/imgs/clock.svg" alt="ساعت">
						<p class="mb-0 fs-14px mt-2">مدت دوره</p>
						<p data-time="<%= course.time %>" class="mb-0 mt-1 fs-14px fw-bold course-time"></p>
					</div>
					<div class="meta-box rounded bg-secondary-subtle d-flex flex-column justify-content-center align-items-center p-3">
						<img width="25px" src="/static/imgs/episodes.svg" alt="جلسات">
						<p class="mb-0 fs-14px mt-2">تعداد جلسات</p>
						<p class="mb-0 mt-1 fs-14px fw-bold number"><%= course.episodes.length %></p>
					</div>
					<div class="meta-box rounded bg-secondary-subtle d-flex flex-column justify-content-center align-items-center p-3">
						<img width="25px" src="/static/imgs/badge.svg" alt="مدال">
						<p class="mb-0 fs-14px mt-2">نوع دوره</p>
						<p  class="mb-0 mt-1 fs-14px fw-bold course-time">
							<% if (course.type == 'paid') { %>
								نقدی و ویژه
							<% } else if (course.type == 'vip') { %>
								ویژه
							<% } else {  %>
								رایگان
							<% }  %>
						</p>
					</div>
				</section>
			</div>
			<!-- course teacher start -->
			<div class="row mt-4">
				<div class="d-flex flex-column justify-content-center align-items-center bg-secondary-subtle rounded p-4">
					<img class="rounded-circle" width="50px" src="<%= course.user.photo%>" alt="مدرس">
					<p class="d-inline-flex align-items-start mb-0 mt-2 justify-content-center fw-bold"><img class="mt-1" loading="lazy" src="/static/imgs/badge.svg" width="15px" alt=""><span class="ms-1"><%= course.user.name %></span></p>
					<p class="mb-0 text-secandary fs-14px">مدرس دوره</p>
					<p class="mt-2 fs-14px text-center"><%= course.user.bio %></p>
				</div>
			</div>
			<!-- course teacher end -->
			<!-- course tags start -->
			<div class="row mt-4">
				<div class="d-flex flex-column justify-content-center align-items-center bg-secondary-subtle rounded p-4" >
					<p class="mb-3 fw-bold">برچسب های دوره</p>
					<% if (course.tags.length > 0) { %>
						<div class="d-flex justify-content-center align-items-center" id="courseTagsWrap" data-tags="<%= course.tags %>"></div>
					<% } else { %>
						<p>برچسبی برای این دوره ثبت نشده است</p>
					<% }%>
				</div>
			</div>
			<!-- course tags end -->
			</section>
		<!-- course main section meta info -->
	</div>
</div>
<!-- course detail section end -->


<script src="/static/js/tags.js"></script>
