<link rel="stylesheet" href="/static/admin/course/css/create.css" />
<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6"><h3>ایجاد دوره جدید</h3></div>
		<div class="col-12 col-lg-6 text-center">
			<a type="button" class="btn btn-primary ms-auto btn-sm" href="/admin/courses/">دوره ها</a>
		</div>
	</div>
	<!-- create a new course form start -->
	<div class="row w-100">
		<form method="POST" enctype="multipart/form-data" action="/admin/courses/create" class="col-12 col-lg-8 offset-lg-2 w-100">
			<div class="row mbn-20">
				<!-- title  -->
				<div class="col-12 mb-20">
					<label class="mb-2 mt-4" for="newCourseTitle">عنوان دوره</label>
					<input
						autofocus
						type="text"
						id="newCourseTitle"
						class="form-control"
						name="title"
						required
						value="<%- old?.title ?? '' %>"
					/>
				</div>
				<!-- type -->
				<div class="col-12 mb-20">
					<label class="my-2" for="newCourseType">نوع دوره</label>
					<select class="form-control" name="type" id="newCourseType" required>
						<option value="paid" <%- old?.type == 'paid' ? 'selected' : '' %>>نقدی</option>
						<option value="free" <%- old?.type == 'free' ? 'selected' : '' %>>رایگان</option>
					</select>
				</div>
				<% if (categories.length > 0) { %>
					<!-- category -->
					<div class="col-12 mb-20">
						<label class="my-2" for="newCourseCategory">دسته بندی دوره</label>
						<%- include('../../components/multiSelectInput.ejs' , {labelId: 'newCourseCategory' , options: categories , courseCategories : []})  %>
					</div>
				<% } %>
				<!-- slug -->
				<div class="col-12 mb-20">
					<label class="mb-2 mt-4" for="newCourseSlug"> slug</label>
					<input
						autofocus
						type="text"
						id="newCourseSlug"
						class="form-control"
						name="slug"
						required
						value="<%- old?.slug ?? '' %>"
					/>
					<p dir="ltr" class="form-text text-secondary" id="courseSlugPreview"><span> www.yourSite.com/</span><span id="courseSlugPreviewValue"></span></p>
				</div>

				<!-- image  -->
				<div class="col-12 mb-20">
					<label class="my-2">تصویر دوره</label>
					<div class="input-group">
						<input
							accept=".jpg,.jpeg,.png,.webp,.avif"
							name="image"
							type="file"
							class="form-control uploadImageInput"
							id="newCourseImage"
						/>
					</div>
					<p class="form-text text-secondary mt-2 mb-0">تنها فرمت های .jpg,.jpeg,.png,.webp,.avif قابل قبول است </p>
					<p class="form-text text-warning mt-1">حداکثر حجم فایل باید 1MB باشد</p>
				</div>
				<!-- desc -->
				<div class="col-12 mb-20">
					<label class="my-2" for="newCourseDesc">توضیحات دوره</label>
					<textarea placeholder="یه توضیح کوتاه در رابطه با دوره بنویسید" name="description" rows="4" id="newCourseDesc" class="form-control p-2">
						<%- old?.description ?? ''%></textarea
					>
				</div>
				<!-- course body -->
				<div class="col-12 mb-20">
					<label class="my-2" for="newCourseBody">بدنه دوره</label>
					<%- include('../../components/editor.ejs' , {id : 'newCourseBody' , body: ''}) %>
				</div>
				<!-- price  -->
				<div class="col-12 mb-20">
					<label class="my-2" for="newCoursePrice">قیمت (به تومان)</label>
					<input
						value="<%- old?.price ?? 0 %>"
						type="number"
						id="newCoursePrice"
						class="form-control"
						name="price"
						required
						inputmode="numeric"
						min="0"
					/>
				</div>

				<!-- tags  -->
				<div class="col-12 mb-20 tags-input">
					<label class="my-2" for="input-tag">تگ ها</label>
					<input class="form-control" type="text" name="tags" id="input-tag" value="" />
					<p class="form-text text-warning mb-0">تگ ها با اسامی تکراری یک بار لحاظ میشوند</p>
					<ul class="d-flex justify-content-end align-items-center ps-0" id="tags">
					</ul>
				</div>
				<!--  -->
				<div class="d-grid">
					<button class="btn btn-primary btn-sm">ایجاد</button>
				</div>
			</div>
			<input type="hidden" name="user" value="<%= user._id %>">
		</form>
	</div>
	<!-- create a new course form end -->
</div>


<script src="/static/admin/course/js/course.js"></script>

