<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6"><h3>دوره ها</h3></div>
		<div class="col-12 col-lg-6 text-center">
			<a type="button" class="btn btn-primary ms-auto btn-sm" href="/admin/courses/create">ایجاد دوره جدید</a>
			<button type="button" class="btn btn-warning btn-sm">بخش ویدیو ها</button>
		</div>
	</div>
	<!-- course table -->
	<table class="mt-5 w-100">
		<thead>
			<tr class="text-center">
				<th>عنوان دوره</th>
				<th>تعداد نظرات</th>
				<th>مقدار بازدید</th>
				<th class="d-none d-lg-table-cell">slug</th>
				<th class="d-none d-lg-table-cell">وضعیت دوره</th>
				<th>تنظیمات</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<% courses.forEach(course => { %>
				<tr class="text-center">
					<td>
						<img class="img-fluid" width="50px" height="25px" style="border-radius: 10px;"  src="<%= course.images[0].path ?? '/static/imgs/defaultImage.avif' %>" alt="">
						<a href="admin/courses/<%= course.slug %>"><%= course.title %></a>
					</td>
					<td><%= course.commentCount %></td>
					<td><%= course.viewCount %></td>
					<td class="d-none d-lg-table-cell"><%= course.slug %></td>
					<td class="d-none d-lg-table-cell"><%= course.type %></td>
					<td>
						<div class="d-flex flex-column flex-lg-row">
							<a href="/admin/courses/<%= course._id %>/edit" class="btn btn-primary rounded ms-1 btn-sm">ویرایش</a>
							<a href="/admin/courses/<%= course._id %>/delete" class="btn btn-outline-danger rounded btn-sm mt-2 mt-lg-0">حذف</a>
						</div>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		<!-- pagination -->
		<div class="col-lg-4 col-md-6 col-12 mb-30 __web-inspector-hide-shortcut__">
			<ul class="pagination pagination-sm justify-content-center mt-3">
				<li class="page-item">
					<a class="page-link" href="#"><i class="zmdi zmdi-chevron-right"></i></a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item">
					<a class="page-link" href="#"><i class="zmdi zmdi-chevron-left"></i></a>
				</li>
			</ul>
		</div>
		<!-- pagination -->
	</div>
</div>
