<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6"><h3>دوره ها</h3><p class="admin_sub_heading mt-3">مجموع :  <span><%= courses.totalDocs %></span></p></div>
		<div class="col-12 col-lg-6 text-center">
			<a type="button" class="btn btn-primary ms-auto btn-sm" href="/admin/courses/create">ایجاد دوره جدید</a>
			<a type="button" href="/admin/episodes" class="btn btn-warning ms-auto btn-sm">بخش ویدیو ها</a>
		</div>
	</div>
	<!-- course table -->
	<table class="mt-5 w-100">
		<thead>
			<tr class="text-center">
				<th></th>
				<th>عنوان دوره</th>
				<th class="d-none d-sm-table-cell">تعداد نظرات</th>
				<th class="d-none d-lg-table-cell">مدت زمان</th>
				<th class="d-none d-lg-table-cell">مدرس</th>
				<th >وضعیت دوره</th>
				<th>تنظیمات</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<% courses.docs.forEach(course => { %>
				<tr class="text-center">
					<td class="text-left">
						<img class="img-fluid" width="50px" height="25px" style="border-radius: 10px;"  src="<%= course?.thumbnail?.path ?? '/static/imgs/defaultImage.avif' %>" alt="">
					</td>
					<td>
						<a href="admin/courses/<%= course.slug %>"><%= course.title %></a>
					</td>
					<td class="d-none d-sm-table-cell"><%= course.commentCount %></td>
					<td class="d-none d-lg-table-cell "><%= course.time %></td>
					<td class="d-none d-lg-table-cell"><%= course.user.name %></td>
					<td >
						<% if (course.type == 'paid') { %>
							<p class="mb-0 text-success">نقدی</p>
							<div class="d-flex justify-content-center mt-1">
								<p><%= course.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."); %></p>
								<span class="me-2"><img class="img-fluid" src="/static/imgs/toman.svg" width="20px" alt="toman"></span>
							</div>
						<% } else if (course.type == 'free') {%>
							<p>رایگان</p>
						<% } else { %>
							<p>اعضای ویژه</p>
						<% } %>
					</td>
					<td>
						<div class="d-flex flex-column flex-lg-row justify-content-center">
							<a href="/admin/courses/<%= course._id %>/edit" class="btn btn-primary rounded ms-1 btn-sm">ویرایش</a>
							<a href="/admin/courses/<%= course._id %>/delete" class="btn btn-outline-danger rounded btn-sm mt-2 mt-lg-0">حذف</a>
						</div>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		<!-- pagination -->
		<%- include('../../components/pagination.ejs' , {pagination : courses}) %>
		<!-- pagination -->
	</div>
</div>
