<!-- start from here ... -->
<!-- header -->
<div class="container my-5">
	<header class="row">
		<section class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
			<h1 class="fw-bold fs-2">برنامه نویسی رو از اینجا شروع میکنیم ...</h1>
			<p>یادگیری برنامه‌نویسی آرزو نیست، فقط نیاز هست، تلاش و تمرین داشته باشید</p>
			<button type="button" class="btn btn-primary">شروع یادگیری</button>
			<div class="header_meta d-flex flex-column mt-4 w-100">
				<div class="row text-center">
					<p class="col-6">
						<svg class="ml-4" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle
								opacity="0.15"
								cx="21.4155"
								cy="21.5525"
								r="13.8275"
								transform="rotate(-36.651 21.4155 21.5525)"
								fill="#E81C4D"
							></circle>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M19.0432 3.4589C16.1689 1.90568 14.3052 0.973391 12.3791 0.973389C10.4529 0.973389 8.58925 1.90568 5.71494 3.4589L5.66333 3.48679C4.24222 4.25471 3.11182 4.86554 2.34149 5.38588C1.95135 5.64941 1.59935 5.92484 1.3381 6.22484C1.07383 6.5283 0.836426 6.93396 0.836426 7.43725V14.8245C0.836426 15.3345 1.24985 15.7479 1.75984 15.7479C2.26982 15.7479 2.68325 15.3345 2.68325 14.8245V9.71094C3.19973 10.0359 3.83998 10.3961 4.58945 10.8055C4.5299 11.5482 4.52998 12.5083 4.53007 13.7474L4.53008 13.901C4.53008 18.5181 5.90983 19.4415 12.3473 19.4415C18.3812 19.4415 20.228 18.5181 20.228 13.901C20.228 12.5893 20.228 11.5817 20.1622 10.809C21.0898 10.3024 21.8505 9.87105 22.4166 9.48863C22.8067 9.2251 23.1587 8.94967 23.42 8.64967C23.6843 8.3462 23.9217 7.94054 23.9217 7.43725C23.9217 6.93396 23.6843 6.5283 23.42 6.22483C23.1587 5.92484 22.8067 5.64941 22.4166 5.38588C21.6463 4.86555 20.5159 4.25471 19.0948 3.4868L19.0432 3.4589ZM18.3645 11.7804C15.8668 13.1137 14.1493 13.9011 12.3791 13.9011C10.6081 13.9011 8.89004 13.113 6.39073 11.7789C6.37715 12.3309 6.3769 13.0206 6.3769 13.901C6.3769 16.1773 6.75931 16.6617 7.08659 16.8917C7.33186 17.0641 7.7906 17.2616 8.69009 17.3996C9.58312 17.5366 10.7639 17.5947 12.3473 17.5947C13.8247 17.5947 14.9599 17.537 15.8408 17.4001C16.726 17.2626 17.2299 17.0628 17.5283 16.8645C17.9408 16.5904 18.3812 16.0445 18.3812 13.901C18.3812 13.0204 18.3798 12.331 18.3645 11.7804ZM3.37523 6.91628C3.03344 7.14715 2.83624 7.3168 2.73122 7.43725C2.83624 7.55771 3.03344 7.72736 3.37523 7.95823C4.0603 8.42098 5.10889 8.9889 6.59293 9.79084C9.57742 11.4036 11.0095 12.0543 12.3791 12.0543C13.7486 12.0543 15.1807 11.4036 18.1652 9.79085C19.6492 8.9889 20.6978 8.42098 21.3829 7.95823C21.7246 7.72736 21.9219 7.55771 22.0269 7.43725C21.9219 7.31679 21.7247 7.14714 21.3829 6.91627C20.6978 6.45352 19.6492 5.8856 18.1652 5.08366C15.1807 3.47091 13.7486 2.82021 12.3791 2.82021C11.0095 2.82021 9.57742 3.4709 6.59293 5.08366C5.1089 5.88561 4.06031 6.45353 3.37523 6.91628ZM22.0893 7.52173L22.0881 7.51925C22.089 7.52091 22.0893 7.52173 22.0893 7.52173ZM22.0881 7.35525L22.0893 7.35278C22.0893 7.35277 22.089 7.35359 22.0881 7.35525ZM2.66996 7.35526C2.66909 7.35359 2.66874 7.35277 2.66879 7.35278L2.66996 7.35526Z"
								fill="#E81C4D"
							></path></svg
						><span class="ms-2">بیش از <%= courseCount %> دوره آموزشی</span>
					</p>
					<p class="col-6">
						<svg class="ml-4" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M13.9609 6.54199C17.3785 6.92151 20.0785 9.61787 20.4617 13.0354"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M13.9609 9.81372C15.5963 10.1314 16.8743 11.4103 17.1929 13.0457"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M10.8938 15.7506C14.5773 19.4331 15.4129 15.1728 17.7582 17.5165C20.0193 19.777 21.3198 20.2299 18.4541 23.0939C18.0953 23.3822 15.8154 26.8517 7.80314 18.8415C-0.210096 10.8303 3.25728 8.54805 3.54574 8.18931C6.41738 5.31741 6.86344 6.62453 9.12447 8.88499C11.4688 11.2297 7.21038 12.0681 10.8938 15.7506Z"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<circle
								opacity="0.15"
								cx="21.2863"
								cy="19.8875"
								r="13.8275"
								transform="rotate(-36.651 21.2863 19.8875)"
								fill="#51B6FF"
							></circle></svg
						><span class="ms-2">پشتیبانی 24 ساعته</span>
					</p>
				</div>
				<div class="row text-center">
					<p class="col-6">
						<svg class="ml-4" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.5834 10.0833C15.0772 10.0833 14.6667 10.4937 14.6667 10.9999C14.6667 11.5062 15.0772 11.9166 15.5834 11.9166H17.4167C17.923 11.9166 18.3334 11.5062 18.3334 10.9999C18.3334 10.4937 17.923 10.0833 17.4167 10.0833H15.5834Z"
								fill="#98A3B8"
							></path>
							<path
								d="M19.9553 6.41675H15.6249C15.0175 6.41675 14.4161 6.5353 13.855 6.76565C13.2939 6.99596 12.7841 7.33358 12.3546 7.75919C11.9251 8.18479 11.5845 8.69004 11.3521 9.24611C11.1196 9.80219 11 10.3982 11 11.0001C11 11.602 11.1196 12.198 11.3521 12.7541C11.5845 13.3101 11.9251 13.8154 12.3546 14.241C12.7841 14.6666 13.2939 15.0042 13.855 15.2345C14.4161 15.4649 15.0175 15.5834 15.6249 15.5834H19.9553C20.0489 15.0415 20.1187 14.4336 20.1667 13.7501H15.6249C15.2605 13.7501 14.8996 13.6789 14.563 13.5407C14.2263 13.4026 13.9204 13.2 13.6627 12.9446C13.405 12.6893 13.2006 12.3861 13.0612 12.0525C12.9217 11.7188 12.8499 11.3612 12.8499 11.0001C12.8499 10.639 12.9217 10.2813 13.0612 9.94771C13.2006 9.61406 13.405 9.3109 13.6627 9.05555C13.9204 8.80017 14.2263 8.59761 14.563 8.45941C14.8996 8.32122 15.2605 8.25008 15.6249 8.25008H20.1667C20.1187 7.56655 20.0489 6.9587 19.9553 6.41675Z"
								fill="#98A3B8"
							></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M0 11C0 20.0585 1.9415 22 11 22C20.0585 22 22 20.0585 22 11C22 1.9415 20.0585 0 11 0C1.9415 0 0 1.9415 0 11ZM1.83333 11C1.83333 13.2228 1.95483 14.8838 2.23457 16.1426C2.50968 17.3805 2.91288 18.114 3.39943 18.6006C3.88597 19.0871 4.61954 19.4903 5.85743 19.7654C7.11615 20.0452 8.77722 20.1667 11 20.1667C13.2228 20.1667 14.8838 20.0452 16.1426 19.7654C17.3805 19.4903 18.114 19.0871 18.6006 18.6006C19.0871 18.114 19.4903 17.3805 19.7654 16.1426C20.0452 14.8838 20.1667 13.2228 20.1667 11C20.1667 8.77722 20.0452 7.11615 19.7654 5.85743C19.4903 4.61954 19.0871 3.88597 18.6006 3.39943C18.114 2.91288 17.3805 2.50968 16.1426 2.23457C14.8838 1.95483 13.2228 1.83333 11 1.83333C8.77722 1.83333 7.11615 1.95483 5.85743 2.23457C4.61954 2.50968 3.88597 2.91288 3.39943 3.39943C2.91288 3.88597 2.50968 4.61954 2.23457 5.85743C1.95483 7.11615 1.83333 8.77722 1.83333 11Z"
								fill="#98A3B8"
							></path>
							<circle
								opacity="0.15"
								cx="19.348"
								cy="20.348"
								r="13.8275"
								transform="rotate(-33.8601 19.348 20.348)"
								fill="#98A3B8"
							></circle></svg
						><span class="ms-2">ضمانت بازگشت وجه</span>
					</p>
					<p class="col-6">
						<svg class="ml-4" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle
								opacity="0.15"
								cx="19.7208"
								cy="19.8873"
								r="13.8275"
								transform="rotate(-36.651 19.7208 19.8873)"
								fill="#9018EE"
							></circle>
							<path
								d="M3 13C3 15.4477 3.13246 17.3463 3.46153 18.827C3.78807 20.2963 4.29478 21.2921 5.00136 21.9986C5.70794 22.7052 6.70365 23.2119 8.17298 23.5385C9.65366 23.8675 11.5523 24 14 24C16.4477 24 18.3463 23.8675 19.827 23.5385C21.2963 23.2119 22.2921 22.7052 22.9986 21.9986C23.7052 21.2921 24.2119 20.2963 24.5385 18.827C24.8675 17.3463 25 15.4477 25 13C25 10.5523 24.8675 8.65366 24.5385 7.17298C24.2119 5.70365 23.7052 4.70794 22.9986 4.00136C22.2921 3.29478 21.2963 2.78807 19.827 2.46153C18.3463 2.13246 16.4477 2 14 2C11.5523 2 9.65366 2.13246 8.17298 2.46153C6.70365 2.78807 5.70794 3.29478 5.00136 4.00136C4.29478 4.70794 3.78807 5.70365 3.46153 7.17298C3.13246 8.65366 3 10.5523 3 13Z"
								stroke="#9018EE"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M13.1577 9.18182L14.9195 7.33429C15.3244 6.90978 16.0046 6.88646 16.4388 7.2822L19.658 10.2159C20.0923 10.6117 20.1161 11.2766 19.7113 11.7011L17.8182 13.6864M13.1577 9.18182L8.28868 14.2877C8.08633 14.4999 7.98271 14.7844 8.00236 15.0738L8.20234 18.0187C8.23993 18.5724 8.71141 19.0021 9.27903 19L12.2983 18.9888C12.595 18.9877 12.8781 18.8667 13.0805 18.6545L17.8182 13.6864M13.1577 9.18182L17.8182 13.6864"
								stroke="#9018EE"
								stroke-width="2"
								stroke-linejoin="round"
							></path></svg
						><span class="ms-2">یادگیری با تمرین و آزمون</span>
					</p>
				</div>
			</div>
		</section>
		<section class="col-12 col-md-6">
			<img class="img-fluid" src="/static/imgs/hero-light.svg" alt="بنر سایت" />
		</section>
	</header>
	<div class="row">
		<svg
			fill="#505050"
			class="text-gray-920 dark:text-gray-930"
			width="74"
			height="105"
			viewBox="0 0 98 129"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M47.029 72.7354C50.0557 71.6329 52.8873 70.0549 55.4172 68.061C57.918 66.0579 60.1214 63.7096 61.9613 61.0864C63.8091 58.5597 65.3461 55.8197 66.5391 52.9257C67.7364 50.0386 68.4208 46.9647 68.5614 43.8423C68.6206 42.2624 68.4539 40.6823 68.0664 39.1495C67.6842 37.5558 66.9595 36.0643 65.9428 34.7789C64.7806 33.3631 63.1784 32.3767 61.3909 31.9766C59.5532 31.6118 57.6498 31.7712 55.8983 32.4365C55.0759 32.7319 54.2792 33.094 53.5159 33.5193C52.8228 33.9419 52.1521 34.4002 51.5067 34.8924C50.8464 35.3833 50.2154 35.9122 49.6168 36.4767L48.7047 37.3268L47.9174 38.176C45.9117 40.3826 44.1355 42.7873 42.6161 45.3531C41.0832 47.8361 39.9117 50.5248 39.1369 53.3382C38.4021 56.0043 38.062 58.7636 38.1276 61.5283L38.1352 62.5269L38.2181 63.5108C38.2949 64.1638 38.3506 64.8288 38.426 65.4547C38.6641 66.713 38.8388 68.0071 39.1613 69.2176C39.3611 69.9404 39.5715 70.6571 39.797 71.3514C39.1183 71.4567 38.4336 71.5514 37.7521 71.6025C35.0578 71.8377 32.3439 71.7042 29.6857 71.2059C27.1472 70.7067 24.7021 69.8151 22.4382 68.5631C18.1815 66.0403 14.5592 62.5759 11.8492 58.4358C9.29381 54.5665 7.28986 50.3601 5.89515 45.9379C4.59231 41.9013 3.61834 37.7659 2.98278 33.5722C2.37826 29.925 2.02126 26.2411 1.91425 22.5457C1.70973 17.104 2.3983 11.6657 3.9526 6.44679C5.16315 2.72557 6.29982 0.745502 6.07447 0.691869C5.84913 0.638235 5.6891 1.11877 5.13313 2.03216C4.35997 3.37851 3.68579 4.77932 3.11593 6.22352C1.15449 11.494 0.148942 17.0721 0.146538 22.6957C0.0827322 30.8741 1.20309 39.0187 3.47277 46.8761C4.84019 51.5314 6.86593 55.9674 9.48854 60.0495C12.359 64.5675 16.2315 68.3638 20.8056 71.144C23.3087 72.5646 26.0167 73.5892 28.8333 74.1813C31.7991 74.7897 34.8346 74.9853 37.8539 74.7626C38.8963 74.7008 39.9342 74.5788 40.9626 74.3974C42.0487 77.0395 43.365 79.5811 44.8961 81.9928C49.0382 88.373 54.1048 94.1027 59.9301 98.9944C64.1151 102.568 68.5796 105.8 73.2808 108.66C78.4719 111.87 83.9951 114.51 89.7538 116.532C90.4657 116.756 91.0559 116.938 91.5846 117.085L89.8096 117.517C87.9185 118.016 86.1129 118.591 84.4109 119.178C81.4044 120.241 78.4811 121.526 75.6654 123.024C70.8732 125.609 68.3039 127.814 68.5339 128.171C68.7639 128.529 71.7657 127.137 76.6077 125.207C79.0452 124.246 81.9645 123.152 85.2533 122.17C86.8948 121.673 88.6234 121.183 90.4314 120.76C91.3377 120.539 92.2605 120.324 93.2012 120.14C93.6785 120.024 94.0938 119.97 94.7849 119.788C95.6863 119.554 96.4869 119.033 97.0653 118.303C97.3671 117.906 97.5841 117.452 97.7028 116.967C97.7854 116.588 97.8184 116.199 97.8012 115.811C97.7666 115.238 97.6738 114.67 97.5245 114.115C97.2833 113.221 97.0481 112.337 96.8248 111.474C96.3407 109.756 95.8652 108.103 95.4151 106.519C94.4514 103.387 93.4861 100.645 92.63 98.3437C90.8863 93.7582 89.4203 90.9936 88.9623 91.169C88.5044 91.3445 89.0609 94.3727 90.2022 99.1736C90.8155 101.613 91.4858 104.423 92.2553 107.582L93.4801 112.53C93.6928 113.399 93.9055 114.268 94.1136 115.153L94.1554 115.227C93.4908 114.864 92.5499 114.408 91.1826 113.788C85.8335 111.319 80.6587 108.489 75.6942 105.317C71.2264 102.459 66.9737 99.2775 62.9701 95.7986C57.4752 91.1225 52.6808 85.6811 48.7339 79.6412C47.4482 77.6274 46.327 75.5132 45.3812 73.3191C45.9369 73.1441 46.4926 72.9692 47.0409 72.7565L47.029 72.7354ZM43.4862 67.8998C43.1601 66.8307 43.0267 65.7082 42.7956 64.5853C42.7124 64.0195 42.6833 63.4509 42.6107 62.8791L42.5228 62.0095L42.5221 61.1462C42.4528 58.7661 42.7319 56.3886 43.3504 54.0892C44.0065 51.6603 45.0047 49.337 46.315 47.1891C47.665 44.8794 49.2338 42.7048 50.9997 40.6951L51.6783 39.9492L52.3986 39.2772C52.8665 38.8172 53.3632 38.3874 53.8856 37.9904C54.3858 37.6017 54.9076 37.2415 55.4484 36.9115C55.9708 36.6141 56.5172 36.361 57.0819 36.1548C58.0155 35.7022 59.0732 35.5735 60.0881 35.7891C61.1029 36.0046 62.017 36.5521 62.6861 37.3451C64.0769 39.295 64.7488 41.6667 64.5873 44.0563C64.4873 46.7312 63.924 49.3685 62.9226 51.8509C61.88 54.4673 60.5227 56.9469 58.8806 59.2351C57.2951 61.5697 55.386 63.6671 53.2105 65.4645C51.0022 67.2219 48.5304 68.6198 45.8864 69.6068C45.3169 69.8314 44.7296 70.0243 44.1633 70.2053C43.902 69.4477 43.6558 68.6676 43.4234 67.8379"
				fill="#505050"
			></path>
		</svg>
	</div>
</div>
<!-- header -->
<!-- latest courses start -->
<div class="container my-5">
	<div class="row d-flex justify-content-between">
		<section class="d-flex col-6">
			<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="10" cy="24" r="10" fill="currentColor"></circle>
				<circle cx="30" cy="13" r="7" fill="currentColor" fill-opacity="0.4"></circle>
				<circle cx="15" cy="4" r="4" fill="currentColor" fill-opacity="0.7"></circle>
			</svg>
			<h2 class="fw-bold fs-4 ms-3 user-select-none">آخرین دوره ها</h2>
		</section>
		<section class="col-6 text-center">
			<a class="link-dark" href="/courses"><span class="me-2">مشاهده همه دوره ها</span>
				<svg width="23" height="15" viewBox="0 0 23 15" fill="#454545" xmlns="http://www.w3.org/2000/svg">
				<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
				<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
				</svg>
			</a>
		</section>
	</div>
	<div class="row mt-5 d-flex flex-wrap" style="gap: 16px;">
		<% latestCourses.forEach(course => { %>
			<!-- course card start -->
			<div class="card p-0 gap-2" style="width: 20rem;">
				<img height="200px" loading="lazy" src="<%= course.thumbnail.path %>" class="card-img-top" alt="<%= course.title %>">
				<div class="card-body">
					<h5 class="card-title fw-bold fs-5"><a class="link-dark" href="/courses/<%= course.slug %>"><%=course.title%></a></h5>
					<p class="card-text text-secondary" style="font-size: 14px;"><%= course.description  %></p>
					<div class="d-flex align-items-center mb-2">
						<svg class="ml-1" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle opacity="0.15" cx="12.3578" cy="13.5069" r="7.94769" transform="rotate(-36.651 12.3578 13.5069)" fill="#FFA826"></circle>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.72321 0.208862C6.45828 0.208862 6.26053 0.35318 6.14832 0.454879C6.02488 0.566749 5.91615 0.708328 5.82226 0.849867C5.63271 1.13563 5.44676 1.50898 5.27825 1.88909C4.93866 2.6551 4.63204 3.53586 4.47178 4.01668C4.46943 4.02373 4.4625 4.02928 4.45412 4.02956C3.95201 4.04653 3.0318 4.09156 2.22974 4.20919C1.8335 4.2673 1.43445 4.34742 1.12288 4.46344C0.969463 4.52057 0.802156 4.59893 0.664155 4.71262C0.524486 4.82767 0.358276 5.02932 0.358276 5.32011C0.358276 5.52123 0.434367 5.69926 0.503244 5.82631C0.57707 5.96248 0.674638 6.09744 0.779001 6.22488C0.98818 6.48031 1.26477 6.75375 1.55073 7.0138C2.1254 7.53639 2.79089 8.05244 3.16952 8.33775C3.17549 8.34225 3.17827 8.34976 3.1758 8.35787C3.03039 8.83525 2.77785 9.70874 2.61721 10.5189C2.53741 10.9213 2.47579 11.3298 2.46654 11.6748C2.46193 11.8464 2.46949 12.024 2.50381 12.1869C2.53577 12.3386 2.60599 12.5516 2.78573 12.7104C2.98745 12.8887 3.23024 12.9124 3.39834 12.902C3.57024 12.8913 3.74241 12.8416 3.89583 12.7837C4.20566 12.6667 4.5554 12.4711 4.89075 12.2598C5.56821 11.833 6.28556 11.279 6.69351 10.9533C6.70089 10.9474 6.71174 10.9472 6.71948 10.9534C7.12735 11.2794 7.84528 11.8337 8.52781 12.2608C8.86585 12.4724 9.21921 12.668 9.53437 12.7848C9.69084 12.8428 9.86477 12.8916 10.0382 12.902C10.2085 12.9122 10.4446 12.8883 10.646 12.7229C10.8348 12.568 10.9132 12.3551 10.9496 12.1972C10.9879 12.031 10.9968 11.8505 10.9926 11.6775C10.984 11.33 10.9192 10.92 10.8353 10.5177C10.6661 9.70737 10.3985 8.83366 10.2436 8.35427C10.2409 8.34578 10.2438 8.33785 10.25 8.33318C10.6305 8.04628 11.2945 7.53095 11.8673 7.00964C12.1523 6.75023 12.4278 6.47757 12.6361 6.22282C12.7401 6.09572 12.8372 5.96109 12.9108 5.8252C12.9794 5.69837 13.0552 5.52076 13.0552 5.32011C13.0552 5.02963 12.8893 4.82808 12.7497 4.71299C12.6119 4.5993 12.4448 4.52094 12.2916 4.46381C11.9804 4.34781 11.5819 4.26769 11.1862 4.20956C10.3852 4.0919 9.46569 4.04674 8.96245 4.02967C8.95396 4.02938 8.94716 4.02385 8.94484 4.01674C8.78821 3.53449 8.48928 2.65449 8.15655 1.88953C7.99147 1.50999 7.80882 1.13701 7.62164 0.851364C7.52894 0.709898 7.42117 0.56804 7.29818 0.455807C7.18605 0.353491 6.98852 0.208862 6.72321 0.208862Z" fill="#FFA826"></path>
						</svg>
						<span class="text-secondary ms-2" style="font-size: 12px;">دسترسی رایگان برای اعضای
								ویژه</span></div>
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<div class="d-flex align-items-center rounded bg-secondary-subtle p-1">
								<svg  width="13" height="12" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.29921 7.10036C1.29921 8.47492 1.37342 9.55017 1.56095 10.394C1.74739 11.2329 2.04007 11.8164 2.45902 12.2353C2.87796 12.6543 3.4615 12.947 4.30041 13.1334C5.14419 13.3209 6.21945 13.3952 7.594 13.3952C8.96856 13.3952 10.0438 13.3209 10.8876 13.1334C11.7265 12.947 12.31 12.6543 12.729 12.2353C13.1479 11.8164 13.4406 11.2329 13.6271 10.394C13.8146 9.55017 13.8888 8.47492 13.8888 7.10036C13.8888 5.72581 13.8146 4.65055 13.6271 3.80677C13.4406 2.96786 13.1479 2.38432 12.729 1.96538C12.31 1.54643 11.7265 1.25375 10.8876 1.06731C10.0438 0.879784 8.96856 0.805572 7.594 0.805572C6.21945 0.805572 5.14419 0.879784 4.30041 1.06731C3.4615 1.25375 2.87796 1.54643 2.45902 1.96538C2.04007 2.38432 1.74739 2.96786 1.56095 3.80677C1.37342 4.65055 1.29921 5.72581 1.29921 7.10036Z" stroke="currentColor" stroke-width="0.858919" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M7.59399 3.73825C7.59399 3.73825 7.59399 5.97967 7.59399 6.54002C7.59399 7.10038 7.59399 7.10038 8.15435 7.10038C8.71471 7.10038 10.9561 7.10038 10.9561 7.10038" stroke="currentColor" stroke-width="0.858919" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
								<span style="font-size: 12px;" class="pt-1 ms-1"><%= course.time %></span>
						</div>
						</div>
						<div>
							<% if (course.type =='paid') { %>
								<span class="fs-4 fw-bold"><%= course.price %></span>
								<svg class="mr-1 " width="18" height="20" viewBox="0 0 14 16" fill="#454545 " xmlns="http://www.w3.org/2000/svg">
									<path class="text-gray-880 dark:text-white" d="M1.14878 6.91843C1.44428 6.91843 1.70285 6.87142 1.92447 6.77739C2.15282 6.68337 2.34422 6.55577 2.49869 6.39458C2.65316 6.2334 2.77069 6.04535 2.85128 5.83044C2.93187 5.62224 2.97888 5.40062 2.99231 5.16556H1.98492C1.6424 5.16556 1.36033 5.12862 1.1387 5.05474C0.917077 4.98087 0.742461 4.87341 0.614858 4.73238C0.487254 4.59134 0.396588 4.42344 0.34286 4.22868C0.295849 4.0272 0.272343 3.80221 0.272343 3.55372C0.272343 3.29852 0.309281 3.05674 0.383156 2.8284C0.457032 2.60005 0.564488 2.39857 0.705523 2.22396C0.846559 2.04934 1.02117 1.91167 1.22937 1.81093C1.44428 1.70347 1.68941 1.64974 1.96477 1.64974C2.1864 1.64974 2.39795 1.68668 2.59943 1.76056C2.80091 1.83443 2.97888 1.95196 3.13335 2.11315C3.28782 2.26761 3.40871 2.47245 3.49601 2.72766C3.59004 2.97615 3.63705 3.27837 3.63705 3.63431V4.47045H4.60415C4.68474 4.47045 4.73847 4.50068 4.76533 4.56112C4.79891 4.61485 4.8157 4.6988 4.8157 4.81297C4.8157 4.93386 4.79891 5.02452 4.76533 5.08497C4.73847 5.13869 4.68474 5.16556 4.60415 5.16556H3.6169C3.60347 5.49464 3.53631 5.80693 3.41542 6.10244C3.30125 6.39794 3.14007 6.65651 2.93187 6.87813C2.72368 7.09976 2.47518 7.27438 2.1864 7.40198C1.89761 7.5363 1.57188 7.60346 1.20922 7.60346H0.141381L0.0809373 6.91843H1.14878ZM0.896929 3.51343C0.896929 3.68133 0.913719 3.82572 0.947299 3.94661C0.987594 4.0675 1.0514 4.16823 1.1387 4.24883C1.23273 4.3227 1.35697 4.37979 1.51144 4.42008C1.66591 4.45366 1.86067 4.47045 2.09573 4.47045H3.00239V3.71491C3.00239 3.21792 2.90501 2.86198 2.71024 2.64707C2.51548 2.43215 2.24684 2.3247 1.90433 2.3247C1.58196 2.3247 1.33347 2.43215 1.15885 2.64707C0.984237 2.86198 0.896929 3.15076 0.896929 3.51343ZM6.26895 4.47045C6.35626 4.47045 6.41335 4.50068 6.44021 4.56112C6.47379 4.61485 6.49058 4.6988 6.49058 4.81297C6.49058 4.93386 6.47379 5.02452 6.44021 5.08497C6.41335 5.13869 6.35626 5.16556 6.26895 5.16556H4.60675C4.51944 5.16556 4.46235 5.13869 4.43549 5.08497C4.40191 5.03124 4.38512 4.94729 4.38512 4.83312C4.38512 4.71223 4.40191 4.62156 4.43549 4.56112C4.46235 4.50068 4.51944 4.47045 4.60675 4.47045H6.26895ZM7.93155 4.47045C8.01886 4.47045 8.07594 4.50068 8.10281 4.56112C8.13639 4.61485 8.15318 4.6988 8.15318 4.81297C8.15318 4.93386 8.13639 5.02452 8.10281 5.08497C8.07594 5.13869 8.01886 5.16556 7.93155 5.16556H6.26935C6.18204 5.16556 6.12495 5.13869 6.09809 5.08497C6.06451 5.03124 6.04772 4.94729 6.04772 4.83312C6.04772 4.71223 6.06451 4.62156 6.09809 4.56112C6.12495 4.50068 6.18204 4.47045 6.26935 4.47045H7.93155ZM9.59415 4.47045C9.68146 4.47045 9.73854 4.50068 9.76541 4.56112C9.79899 4.61485 9.81578 4.6988 9.81578 4.81297C9.81578 4.93386 9.79899 5.02452 9.76541 5.08497C9.73854 5.13869 9.68146 5.16556 9.59415 5.16556H7.93194C7.84464 5.16556 7.78755 5.13869 7.76069 5.08497C7.72711 5.03124 7.71032 4.94729 7.71032 4.83312C7.71032 4.71223 7.72711 4.62156 7.76069 4.56112C7.78755 4.50068 7.84464 4.47045 7.93194 4.47045H9.59415ZM11.2567 4.47045C11.3441 4.47045 11.4011 4.50068 11.428 4.56112C11.4616 4.61485 11.4784 4.6988 11.4784 4.81297C11.4784 4.93386 11.4616 5.02452 11.428 5.08497C11.4011 5.13869 11.3441 5.16556 11.2567 5.16556H9.59454C9.50723 5.16556 9.45015 5.13869 9.42328 5.08497C9.3897 5.03124 9.37291 4.94729 9.37291 4.83312C9.37291 4.71223 9.3897 4.62156 9.42328 4.56112C9.45015 4.50068 9.50723 4.47045 9.59454 4.47045H11.2567ZM12.1638 4.47045C12.4257 4.47045 12.6339 4.39994 12.7884 4.2589C12.9496 4.11787 13.0302 3.9231 13.0302 3.67461V2.2844H13.685V3.67461C13.685 4.15144 13.5506 4.52082 13.282 4.78275C13.0201 5.03795 12.6608 5.16556 12.2041 5.16556H11.2571C11.1698 5.16556 11.1127 5.13869 11.0859 5.08497C11.0523 5.03124 11.0355 4.94729 11.0355 4.83312C11.0355 4.71223 11.0523 4.62156 11.0859 4.56112C11.1127 4.50068 11.1698 4.47045 11.2571 4.47045H12.1638ZM13.7857 0.994934H12.9798V0.279683H13.7857V0.994934ZM12.5063 0.994934H11.7004V0.279683H12.5063V0.994934ZM5.64177 12.9641C5.64177 13.3267 5.58468 13.6659 5.47051 13.9815C5.35634 14.3039 5.1918 14.5826 4.97689 14.8177C4.76198 15.0595 4.50005 15.2509 4.19112 15.3919C3.8889 15.5329 3.54638 15.6035 3.16357 15.6035H2.56921C1.81702 15.6035 1.23273 15.3718 0.816337 14.9084C0.399946 14.445 0.191751 13.8103 0.191751 13.0044V11.2414H0.836485V12.9842C0.836485 13.273 0.870065 13.5349 0.937225 13.77C1.0111 14.0051 1.12191 14.2065 1.26967 14.3744C1.42413 14.549 1.61554 14.6834 1.84388 14.7774C2.07223 14.8714 2.34758 14.9184 2.66995 14.9184H3.1132C3.42885 14.9184 3.70421 14.8647 3.93927 14.7572C4.17433 14.6565 4.36909 14.5188 4.52356 14.3442C4.68474 14.1696 4.80227 13.9648 4.87615 13.7297C4.95674 13.4946 4.99703 13.2495 4.99703 12.9943V10.2844H5.64177V12.9641ZM3.21394 10.0628H2.36773V9.32738H3.21394V10.0628ZM8.24526 13.1656C8.07064 13.1656 7.90274 13.1421 7.74156 13.095C7.58038 13.0413 7.43598 12.954 7.30838 12.8331C7.18749 12.7122 7.09011 12.5544 7.01624 12.3596C6.94236 12.1582 6.90542 11.9097 6.90542 11.6142V6.9197H7.56023V11.4933C7.56023 11.7754 7.62067 12.0104 7.74156 12.1985C7.86916 12.3798 8.074 12.4705 8.35607 12.4705H8.52733C8.67508 12.4705 8.74896 12.5846 8.74896 12.813C8.74896 13.048 8.67508 13.1656 8.52733 13.1656H8.24526ZM8.69324 12.4705C8.95516 12.4705 9.15328 12.4067 9.2876 12.279C9.42192 12.1514 9.48908 11.9802 9.48908 11.7653V11.3825C9.48908 10.7982 9.63683 10.3415 9.93233 10.0124C10.2346 9.68332 10.6509 9.51878 11.1815 9.51878C11.4569 9.51878 11.6986 9.56243 11.9068 9.64974C12.115 9.73705 12.2863 9.8613 12.4206 10.0225C12.5616 10.1837 12.6657 10.3751 12.7329 10.5967C12.8001 10.8183 12.8336 11.0635 12.8336 11.3321C12.8336 11.9097 12.6825 12.3596 12.3803 12.682C12.0781 13.0044 11.6651 13.1656 11.1412 13.1656C10.8726 13.1656 10.614 13.1152 10.3655 13.0144C10.117 12.907 9.92226 12.7189 9.78123 12.4503C9.72078 12.6048 9.64691 12.729 9.5596 12.823C9.47229 12.9171 9.38162 12.9909 9.2876 13.0447C9.19358 13.0917 9.09284 13.1253 8.98538 13.1454C8.88464 13.1588 8.78726 13.1656 8.69324 13.1656H8.53205C8.44475 13.1656 8.38766 13.1387 8.3608 13.085C8.32722 13.0312 8.31043 12.9473 8.31043 12.8331C8.31043 12.7122 8.32722 12.6216 8.3608 12.5611C8.38766 12.5007 8.44475 12.4705 8.53205 12.4705H8.69324ZM12.1889 11.3925C12.1889 11.0433 12.1117 10.7612 11.9572 10.5463C11.8027 10.3247 11.5375 10.2139 11.1614 10.2139C10.4629 10.2139 10.1137 10.6202 10.1137 11.4328C10.1137 11.7754 10.2077 12.0339 10.3957 12.2085C10.5905 12.3831 10.839 12.4705 11.1412 12.4705C11.4837 12.4705 11.7423 12.3764 11.9169 12.1884C12.0982 12.0003 12.1889 11.7351 12.1889 11.3925Z" fill="#454545"></path>
							</svg>
							<% } else { %>
								<span class="text-primary fw-bold">رایگان!</span>
							<% } %>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<a class="link-dark fs-6" href="/courses/<%= course.slug %>"><span class="me-2">مشاهده اطلاعات دوره</span>
						<svg width="23" height="15" viewBox="0 0 23 15" fill="#454545" xmlns="http://www.w3.org/2000/svg">
						<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
						<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
						</svg>
					</a>
				</div>
			</div>
			<!-- course card end -->
		<% }) %>
	</div>
</div>
<!-- latest courses end-->

