<!-- start from here ... -->
<!-- header -->
<div class="container my-5" >
	<header class="row">
		<section class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
			<h1 class="fw-bold fs-2"><%= __('header') %></h1>
			<p><%= __('subHeader') %></p>
			<a href="#latestCourses" class="btn btn-primary"><%= lang == 'fa' ?  'شروع یادگیری': 'start learning' %></a>
			<div class="header_meta d-flex flex-column mt-4 w-100">
				<div class="row text-center d-none d-md-flex">
					<p class="col-6">
						<svg class="ml-4" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle
								opacity="0.15"
								cx="21.4155"
								cy="21.5525"
								r="13.8275"
								transform="rotate(-36.651 21.4155 21.5525)"
								fill="#E81C4D"
							></circle>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M19.0432 3.4589C16.1689 1.90568 14.3052 0.973391 12.3791 0.973389C10.4529 0.973389 8.58925 1.90568 5.71494 3.4589L5.66333 3.48679C4.24222 4.25471 3.11182 4.86554 2.34149 5.38588C1.95135 5.64941 1.59935 5.92484 1.3381 6.22484C1.07383 6.5283 0.836426 6.93396 0.836426 7.43725V14.8245C0.836426 15.3345 1.24985 15.7479 1.75984 15.7479C2.26982 15.7479 2.68325 15.3345 2.68325 14.8245V9.71094C3.19973 10.0359 3.83998 10.3961 4.58945 10.8055C4.5299 11.5482 4.52998 12.5083 4.53007 13.7474L4.53008 13.901C4.53008 18.5181 5.90983 19.4415 12.3473 19.4415C18.3812 19.4415 20.228 18.5181 20.228 13.901C20.228 12.5893 20.228 11.5817 20.1622 10.809C21.0898 10.3024 21.8505 9.87105 22.4166 9.48863C22.8067 9.2251 23.1587 8.94967 23.42 8.64967C23.6843 8.3462 23.9217 7.94054 23.9217 7.43725C23.9217 6.93396 23.6843 6.5283 23.42 6.22483C23.1587 5.92484 22.8067 5.64941 22.4166 5.38588C21.6463 4.86555 20.5159 4.25471 19.0948 3.4868L19.0432 3.4589ZM18.3645 11.7804C15.8668 13.1137 14.1493 13.9011 12.3791 13.9011C10.6081 13.9011 8.89004 13.113 6.39073 11.7789C6.37715 12.3309 6.3769 13.0206 6.3769 13.901C6.3769 16.1773 6.75931 16.6617 7.08659 16.8917C7.33186 17.0641 7.7906 17.2616 8.69009 17.3996C9.58312 17.5366 10.7639 17.5947 12.3473 17.5947C13.8247 17.5947 14.9599 17.537 15.8408 17.4001C16.726 17.2626 17.2299 17.0628 17.5283 16.8645C17.9408 16.5904 18.3812 16.0445 18.3812 13.901C18.3812 13.0204 18.3798 12.331 18.3645 11.7804ZM3.37523 6.91628C3.03344 7.14715 2.83624 7.3168 2.73122 7.43725C2.83624 7.55771 3.03344 7.72736 3.37523 7.95823C4.0603 8.42098 5.10889 8.9889 6.59293 9.79084C9.57742 11.4036 11.0095 12.0543 12.3791 12.0543C13.7486 12.0543 15.1807 11.4036 18.1652 9.79085C19.6492 8.9889 20.6978 8.42098 21.3829 7.95823C21.7246 7.72736 21.9219 7.55771 22.0269 7.43725C21.9219 7.31679 21.7247 7.14714 21.3829 6.91627C20.6978 6.45352 19.6492 5.8856 18.1652 5.08366C15.1807 3.47091 13.7486 2.82021 12.3791 2.82021C11.0095 2.82021 9.57742 3.4709 6.59293 5.08366C5.1089 5.88561 4.06031 6.45353 3.37523 6.91628ZM22.0893 7.52173L22.0881 7.51925C22.089 7.52091 22.0893 7.52173 22.0893 7.52173ZM22.0881 7.35525L22.0893 7.35278C22.0893 7.35277 22.089 7.35359 22.0881 7.35525ZM2.66996 7.35526C2.66909 7.35359 2.66874 7.35277 2.66879 7.35278L2.66996 7.35526Z"
								fill="#E81C4D"
							></path></svg
						><span class="ms-2"> <%= lang=='fa' ? 'بیش از ' : 'over than' %> <%= courseCount %> <%= lang == 'fa' ? 'دوره آموزشی' : 'courses' %> </span>
					</p>
					<p class="col-6">
						<svg class="ml-4" width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M13.9609 6.54199C17.3785 6.92151 20.0785 9.61787 20.4617 13.0354"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M13.9609 9.81372C15.5963 10.1314 16.8743 11.4103 17.1929 13.0457"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M10.8938 15.7506C14.5773 19.4331 15.4129 15.1728 17.7582 17.5165C20.0193 19.777 21.3198 20.2299 18.4541 23.0939C18.0953 23.3822 15.8154 26.8517 7.80314 18.8415C-0.210096 10.8303 3.25728 8.54805 3.54574 8.18931C6.41738 5.31741 6.86344 6.62453 9.12447 8.88499C11.4688 11.2297 7.21038 12.0681 10.8938 15.7506Z"
								stroke="#51B6FF"
								stroke-width="1.38512"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<circle
								opacity="0.15"
								cx="21.2863"
								cy="19.8875"
								r="13.8275"
								transform="rotate(-36.651 21.2863 19.8875)"
								fill="#51B6FF"
							></circle></svg
						><span class="ms-2"><%= __('support') %></span>
					</p>
				</div>
				<div class="row text-center d-none d-md-flex">
					<p class="col-6">
						<svg class="ml-4" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.5834 10.0833C15.0772 10.0833 14.6667 10.4937 14.6667 10.9999C14.6667 11.5062 15.0772 11.9166 15.5834 11.9166H17.4167C17.923 11.9166 18.3334 11.5062 18.3334 10.9999C18.3334 10.4937 17.923 10.0833 17.4167 10.0833H15.5834Z"
								fill="#98A3B8"
							></path>
							<path
								d="M19.9553 6.41675H15.6249C15.0175 6.41675 14.4161 6.5353 13.855 6.76565C13.2939 6.99596 12.7841 7.33358 12.3546 7.75919C11.9251 8.18479 11.5845 8.69004 11.3521 9.24611C11.1196 9.80219 11 10.3982 11 11.0001C11 11.602 11.1196 12.198 11.3521 12.7541C11.5845 13.3101 11.9251 13.8154 12.3546 14.241C12.7841 14.6666 13.2939 15.0042 13.855 15.2345C14.4161 15.4649 15.0175 15.5834 15.6249 15.5834H19.9553C20.0489 15.0415 20.1187 14.4336 20.1667 13.7501H15.6249C15.2605 13.7501 14.8996 13.6789 14.563 13.5407C14.2263 13.4026 13.9204 13.2 13.6627 12.9446C13.405 12.6893 13.2006 12.3861 13.0612 12.0525C12.9217 11.7188 12.8499 11.3612 12.8499 11.0001C12.8499 10.639 12.9217 10.2813 13.0612 9.94771C13.2006 9.61406 13.405 9.3109 13.6627 9.05555C13.9204 8.80017 14.2263 8.59761 14.563 8.45941C14.8996 8.32122 15.2605 8.25008 15.6249 8.25008H20.1667C20.1187 7.56655 20.0489 6.9587 19.9553 6.41675Z"
								fill="#98A3B8"
							></path>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M0 11C0 20.0585 1.9415 22 11 22C20.0585 22 22 20.0585 22 11C22 1.9415 20.0585 0 11 0C1.9415 0 0 1.9415 0 11ZM1.83333 11C1.83333 13.2228 1.95483 14.8838 2.23457 16.1426C2.50968 17.3805 2.91288 18.114 3.39943 18.6006C3.88597 19.0871 4.61954 19.4903 5.85743 19.7654C7.11615 20.0452 8.77722 20.1667 11 20.1667C13.2228 20.1667 14.8838 20.0452 16.1426 19.7654C17.3805 19.4903 18.114 19.0871 18.6006 18.6006C19.0871 18.114 19.4903 17.3805 19.7654 16.1426C20.0452 14.8838 20.1667 13.2228 20.1667 11C20.1667 8.77722 20.0452 7.11615 19.7654 5.85743C19.4903 4.61954 19.0871 3.88597 18.6006 3.39943C18.114 2.91288 17.3805 2.50968 16.1426 2.23457C14.8838 1.95483 13.2228 1.83333 11 1.83333C8.77722 1.83333 7.11615 1.95483 5.85743 2.23457C4.61954 2.50968 3.88597 2.91288 3.39943 3.39943C2.91288 3.88597 2.50968 4.61954 2.23457 5.85743C1.95483 7.11615 1.83333 8.77722 1.83333 11Z"
								fill="#98A3B8"
							></path>
							<circle
								opacity="0.15"
								cx="19.348"
								cy="20.348"
								r="13.8275"
								transform="rotate(-33.8601 19.348 20.348)"
								fill="#98A3B8"
							></circle></svg
						><span class="ms-2"><%= __('payReturn') %></span>
					</p>
					<p class="col-6">
						<svg class="ml-4" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle
								opacity="0.15"
								cx="19.7208"
								cy="19.8873"
								r="13.8275"
								transform="rotate(-36.651 19.7208 19.8873)"
								fill="#9018EE"
							></circle>
							<path
								d="M3 13C3 15.4477 3.13246 17.3463 3.46153 18.827C3.78807 20.2963 4.29478 21.2921 5.00136 21.9986C5.70794 22.7052 6.70365 23.2119 8.17298 23.5385C9.65366 23.8675 11.5523 24 14 24C16.4477 24 18.3463 23.8675 19.827 23.5385C21.2963 23.2119 22.2921 22.7052 22.9986 21.9986C23.7052 21.2921 24.2119 20.2963 24.5385 18.827C24.8675 17.3463 25 15.4477 25 13C25 10.5523 24.8675 8.65366 24.5385 7.17298C24.2119 5.70365 23.7052 4.70794 22.9986 4.00136C22.2921 3.29478 21.2963 2.78807 19.827 2.46153C18.3463 2.13246 16.4477 2 14 2C11.5523 2 9.65366 2.13246 8.17298 2.46153C6.70365 2.78807 5.70794 3.29478 5.00136 4.00136C4.29478 4.70794 3.78807 5.70365 3.46153 7.17298C3.13246 8.65366 3 10.5523 3 13Z"
								stroke="#9018EE"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M13.1577 9.18182L14.9195 7.33429C15.3244 6.90978 16.0046 6.88646 16.4388 7.2822L19.658 10.2159C20.0923 10.6117 20.1161 11.2766 19.7113 11.7011L17.8182 13.6864M13.1577 9.18182L8.28868 14.2877C8.08633 14.4999 7.98271 14.7844 8.00236 15.0738L8.20234 18.0187C8.23993 18.5724 8.71141 19.0021 9.27903 19L12.2983 18.9888C12.595 18.9877 12.8781 18.8667 13.0805 18.6545L17.8182 13.6864M13.1577 9.18182L17.8182 13.6864"
								stroke="#9018EE"
								stroke-width="2"
								stroke-linejoin="round"
							></path></svg
						><span class="ms-2"><%= __('learningHow') %></span>
					</p>
				</div>
			</div>
		</section>
		<section class="col-12 col-md-6">
			<img class="img-fluid" src="/static/imgs/hero-light.svg" alt="بنر سایت" />
		</section>
	</header>
	<div class="row">
		<svg
			fill="#505050"
			class="text-gray-920 dark:text-gray-930"
			width="74"
			height="105"
			viewBox="0 0 98 129"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M47.029 72.7354C50.0557 71.6329 52.8873 70.0549 55.4172 68.061C57.918 66.0579 60.1214 63.7096 61.9613 61.0864C63.8091 58.5597 65.3461 55.8197 66.5391 52.9257C67.7364 50.0386 68.4208 46.9647 68.5614 43.8423C68.6206 42.2624 68.4539 40.6823 68.0664 39.1495C67.6842 37.5558 66.9595 36.0643 65.9428 34.7789C64.7806 33.3631 63.1784 32.3767 61.3909 31.9766C59.5532 31.6118 57.6498 31.7712 55.8983 32.4365C55.0759 32.7319 54.2792 33.094 53.5159 33.5193C52.8228 33.9419 52.1521 34.4002 51.5067 34.8924C50.8464 35.3833 50.2154 35.9122 49.6168 36.4767L48.7047 37.3268L47.9174 38.176C45.9117 40.3826 44.1355 42.7873 42.6161 45.3531C41.0832 47.8361 39.9117 50.5248 39.1369 53.3382C38.4021 56.0043 38.062 58.7636 38.1276 61.5283L38.1352 62.5269L38.2181 63.5108C38.2949 64.1638 38.3506 64.8288 38.426 65.4547C38.6641 66.713 38.8388 68.0071 39.1613 69.2176C39.3611 69.9404 39.5715 70.6571 39.797 71.3514C39.1183 71.4567 38.4336 71.5514 37.7521 71.6025C35.0578 71.8377 32.3439 71.7042 29.6857 71.2059C27.1472 70.7067 24.7021 69.8151 22.4382 68.5631C18.1815 66.0403 14.5592 62.5759 11.8492 58.4358C9.29381 54.5665 7.28986 50.3601 5.89515 45.9379C4.59231 41.9013 3.61834 37.7659 2.98278 33.5722C2.37826 29.925 2.02126 26.2411 1.91425 22.5457C1.70973 17.104 2.3983 11.6657 3.9526 6.44679C5.16315 2.72557 6.29982 0.745502 6.07447 0.691869C5.84913 0.638235 5.6891 1.11877 5.13313 2.03216C4.35997 3.37851 3.68579 4.77932 3.11593 6.22352C1.15449 11.494 0.148942 17.0721 0.146538 22.6957C0.0827322 30.8741 1.20309 39.0187 3.47277 46.8761C4.84019 51.5314 6.86593 55.9674 9.48854 60.0495C12.359 64.5675 16.2315 68.3638 20.8056 71.144C23.3087 72.5646 26.0167 73.5892 28.8333 74.1813C31.7991 74.7897 34.8346 74.9853 37.8539 74.7626C38.8963 74.7008 39.9342 74.5788 40.9626 74.3974C42.0487 77.0395 43.365 79.5811 44.8961 81.9928C49.0382 88.373 54.1048 94.1027 59.9301 98.9944C64.1151 102.568 68.5796 105.8 73.2808 108.66C78.4719 111.87 83.9951 114.51 89.7538 116.532C90.4657 116.756 91.0559 116.938 91.5846 117.085L89.8096 117.517C87.9185 118.016 86.1129 118.591 84.4109 119.178C81.4044 120.241 78.4811 121.526 75.6654 123.024C70.8732 125.609 68.3039 127.814 68.5339 128.171C68.7639 128.529 71.7657 127.137 76.6077 125.207C79.0452 124.246 81.9645 123.152 85.2533 122.17C86.8948 121.673 88.6234 121.183 90.4314 120.76C91.3377 120.539 92.2605 120.324 93.2012 120.14C93.6785 120.024 94.0938 119.97 94.7849 119.788C95.6863 119.554 96.4869 119.033 97.0653 118.303C97.3671 117.906 97.5841 117.452 97.7028 116.967C97.7854 116.588 97.8184 116.199 97.8012 115.811C97.7666 115.238 97.6738 114.67 97.5245 114.115C97.2833 113.221 97.0481 112.337 96.8248 111.474C96.3407 109.756 95.8652 108.103 95.4151 106.519C94.4514 103.387 93.4861 100.645 92.63 98.3437C90.8863 93.7582 89.4203 90.9936 88.9623 91.169C88.5044 91.3445 89.0609 94.3727 90.2022 99.1736C90.8155 101.613 91.4858 104.423 92.2553 107.582L93.4801 112.53C93.6928 113.399 93.9055 114.268 94.1136 115.153L94.1554 115.227C93.4908 114.864 92.5499 114.408 91.1826 113.788C85.8335 111.319 80.6587 108.489 75.6942 105.317C71.2264 102.459 66.9737 99.2775 62.9701 95.7986C57.4752 91.1225 52.6808 85.6811 48.7339 79.6412C47.4482 77.6274 46.327 75.5132 45.3812 73.3191C45.9369 73.1441 46.4926 72.9692 47.0409 72.7565L47.029 72.7354ZM43.4862 67.8998C43.1601 66.8307 43.0267 65.7082 42.7956 64.5853C42.7124 64.0195 42.6833 63.4509 42.6107 62.8791L42.5228 62.0095L42.5221 61.1462C42.4528 58.7661 42.7319 56.3886 43.3504 54.0892C44.0065 51.6603 45.0047 49.337 46.315 47.1891C47.665 44.8794 49.2338 42.7048 50.9997 40.6951L51.6783 39.9492L52.3986 39.2772C52.8665 38.8172 53.3632 38.3874 53.8856 37.9904C54.3858 37.6017 54.9076 37.2415 55.4484 36.9115C55.9708 36.6141 56.5172 36.361 57.0819 36.1548C58.0155 35.7022 59.0732 35.5735 60.0881 35.7891C61.1029 36.0046 62.017 36.5521 62.6861 37.3451C64.0769 39.295 64.7488 41.6667 64.5873 44.0563C64.4873 46.7312 63.924 49.3685 62.9226 51.8509C61.88 54.4673 60.5227 56.9469 58.8806 59.2351C57.2951 61.5697 55.386 63.6671 53.2105 65.4645C51.0022 67.2219 48.5304 68.6198 45.8864 69.6068C45.3169 69.8314 44.7296 70.0243 44.1633 70.2053C43.902 69.4477 43.6558 68.6676 43.4234 67.8379"
				fill="#505050"
			></path>
		</svg>
	</div>
</div>
<!-- header -->
<% if (courses.length > 0) { %>
	<!-- latest courses start -->
	<div class="container my-5" >
		<div class="row d-flex justify-content-between">
			<section class="d-flex col-6">
				<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="10" cy="24" r="10" fill="currentColor"></circle>
					<circle cx="30" cy="13" r="7" fill="currentColor" fill-opacity="0.4"></circle>
					<circle cx="15" cy="4" r="4" fill="currentColor" fill-opacity="0.7"></circle>
				</svg>
				<h2 id="latestCourses" class="fw-bold fs-4 ms-3 user-select-none">آخرین دوره ها</h2>
			</section>
			<section class="col-6 text-center">
				<a class="link-dark" href="/courses"><span class="me-2">مشاهده همه دوره ها</span>
					<svg width="23" height="15" viewBox="0 0 23 15" fill="#454545" xmlns="http://www.w3.org/2000/svg">
					<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
					<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
					</svg>
				</a>
			</section>
		</div>
		<!-- course list start -->
		<div class="row mt-5 d-flex flex-wrap justify-content-center" style="gap: 16px;">
			<% courses.forEach(course => { %>
				<%- include('./components/courseCard.ejs' , {course:course}) %>
			<% }) %>
		</div>
		<!-- course list end  -->
	</div>
	<!-- latest courses end-->
<% } %>
<!-- testimonial section start -->
<!-- Slider main container -->
<div class="container"  style="margin-top: 8rem;">
	<div class="row">
		<div class="col d-flex justify-content-center flex-column align-items-center">
			<section class="d-flex">
				<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="10" cy="24" r="10" fill="currentColor"></circle>
					<circle cx="30" cy="13" r="7" fill="currentColor" fill-opacity="0.4"></circle>
					<circle cx="15" cy="4" r="4" fill="currentColor" fill-opacity="0.7"></circle>
				</svg>
				<h4 class="fw-bold ms-2">درباره فروشگاه عطن چی میگن ؟</h4>
			</section>
			<p class="text-secondary mt-3 mx-auto" style="width: 80%;">این‌ها، بخش خیلی کوچکی از نظراتی هستند که افراد مختلف در مورد فروشگاه عطن دارند.</p>
			<svg class="d-none d-lg-block text-secondary align-self-end" width="81" height="25" viewBox="0 0 81 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M29.1967 14.3986C25.5868 13.9847 22.0069 13.342 18.4784 12.4745C16.792 12.0466 12.2026 11.5965 11.3659 10.0623C14.4789 9.24078 17.802 9.66713 20.9105 8.43793C22.2549 7.90469 24.0976 7.15477 24.3908 5.52325C24.8311 3.10397 22.5994 3.77298 21.0294 3.94254C17.6692 4.3178 14.1955 4.26364 10.8129 4.37265C8.21636 4.45288 2.1991 3.36004 0.75924 6.3001C-0.680619 9.24016 3.70799 12.3632 5.54259 14.087C8.50795 16.9111 11.4369 19.7705 14.422 22.5651C15.2426 23.339 16.7726 25.1362 18.1266 24.8437C19.9916 24.4238 19.3821 22.6707 18.7377 21.448C18.3268 20.6539 12.3485 13.2275 12.3318 13.2334C12.9125 13.059 16.0756 14.503 16.5971 14.6724C18.7851 15.3399 21.0082 15.8863 23.2564 16.3091C29.1409 17.505 35.2798 18.8366 41.3307 18.5846C44.1562 18.4613 46.2644 17.4415 48.7901 16.4024C51.1811 15.4181 53.2468 16.8916 55.7475 17.5098C60.9531 18.7403 66.3814 18.6725 71.5546 17.3125C75.0607 16.4128 83.0583 13.2526 79.9898 8.14036C79.1913 6.81046 77.6537 5.8984 77.713 7.71002C77.7492 8.94395 78.6421 9.14417 78.0975 10.5525C77.6207 11.4769 76.8129 12.1875 75.8353 12.5428C71.3525 14.7964 64.9792 15.3272 60.1138 14.7865C58.2671 14.554 54.5964 13.8444 53.1131 12.6278C51.7956 11.5519 52.7224 10.088 52.4922 8.17502C51.8776 3.22806 46.3507 -1.37941 41.1423 0.48748C33.6157 3.20407 42.2988 11.4021 45.8298 13.4113C42.1694 16.6785 33.3853 14.926 29.1967 14.3986ZM44.3831 4.04077C48.1118 4.66985 49.1864 7.04037 48.6529 10.4538C47.4697 9.70609 38.6072 3.3136 44.3831 4.04077C45.0235 4.15333 43.8802 3.97745 44.3831 4.04077Z" fill="currentColor"></path>
		</svg>

		</div>
		<div class="col">
			<div class="swiper">
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide text-center d-flex justify-content-center flex-column align-items-center bg-secondary-subtle">
						<p>فروشگاه عطن خیلی خوبه ازش کلی چیز یاد گرفتم</p>
						<section class="d-flex align-items-center">
							<img class="img-fluid rounded-circle" width="50px" height="50px" loading="lazy" src="/static/imgs/ali.jpg" alt="علی نظری">
							<div class="carousel-item-meta d-flex flex-column ms-3">
								<p class="mb-0 fw-bold">علی نظری</p>
								<p class="mb-0 text-secondary" style="font-size: 12px;">برنامه نویس وب</p>
							</div>
						</section>
					</div>
					<div class="swiper-slide text-center d-flex justify-content-center flex-column align-items-center bg-secondary-subtle">
						<p>آموزش های فروشگاه عطن بهترینه و مناسب بازار کاره</p>
						<section class="d-flex align-items-center">
							<img class="img-fluid rounded-circle" width="50px" height="50px" loading="lazy" src="/static/imgs/dog.jpg" alt="علی نظری">
							<div class="carousel-item-meta d-flex flex-column ms-3">
								<p class="mb-0 fw-bold">بنده خدا</p>
								<p class="mb-0 text-secondary" style="font-size: 12px;">مدیر یه جایی</p>
							</div>
						</section>
					</div>

				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>
<!-- testimonial section end -->
