<link rel="stylesheet" href="/static/admin/episode/css/episode.css" />
<div class="container">
	<!-- episode header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6"><h3>ویرایش جلسه <%= episode.title %></h3></div>
		<div class="col-12 col-lg-6 text-start mt-3 mt-lg-0">
			<a type="button" class="btn btn-primary ms-auto btn-sm" href="/admin/episodes/">جلسه ها</a>
		</div>
	</div>
	<!-- create a new episode form start -->
	<div class="row w-100">
		<form method="POST" action="/admin/episodes/<%= episode._id %>/edit?_method=PUT" class="col-12 col-lg-8 offset-lg-2">
			<input type="hidden" name="episodeId" value="<%= episode._id %>">
			<div class="row mbn-20">
				<!-- title  -->
				<div class="col-12 mb-20">
					<label class="mb-2 mt-4 user-select-none" for="newEpisodeTitle">عنوان جلسه</label>
					<input
						autofocus
						type="text"
						id="newEpisodeTitle"
						class="form-control"
						name="title"
						required
						value="<%- episode.title %>"
					/>
				</div>
				<!--  number & type -->
				<div class="row">
					<!-- video number  -->
					<div class="col-12 col-md-6 mb-20">
						<label class="my-2" for="newEpisodeNumber">شماره ویدیو</label>
						<input
							value="<%- episode.number %>"
							type="number"
							id="newEpisodeNumber"
							class="form-control"
							name="number"
							required
							inputmode="numeric"
							min="0"
						/>
					</div>
					<!-- type -->
					<div class="col-12 col-md-6 mb-20">
						<label class="my-2" for="newEpisodeType">نوع ویدیو</label>
								<select class="form-control" name="type" id="newEpisodeType" required>
									<option value="paid" <%- episode.type == 'paid' ? 'selected' : '' %>>نقدی</option>
									<option value="free" <%- episode.type == 'free' ? 'selected' : '' %>>رایگان</option>
								</select>
					</div>
			</div>
				<!-- link -->
							<div class="col-12 mb-20">
								<label class="mb-2 mt-4" for="newEpisodeLink">لینک ویدیو</label>
								<input
									type="text"
									dir="ltr"
									id="newEpisodeLink"
									class="form-control"
									name="url"
									required
									value="<%- episode?.url ?? ''%>"
								/>
							</div>
				<!-- time -->
				<div class="col-12 mb-20">
					<label class="mb-2 mt-4" for="newEpisodeTime">مدت زمان</label>
					<input
						type="text"
						id="newEpisodeTime"
						class="form-control"
						name="time"
						required
						pattern="([0-5]{1}[0-9]{1}:){0,2}[0-5]{0,1}[0-9]{1}(\.\d+)?"
						value="<%- episode.time ?? '00:00:00' %>"
						dir="ltr"
					/>
				</div>
				<!-- desc -->
							<div class="col-12 mb-20">
								<label class="my-2" for="newEpisodeDesc">توضیحات ویدیو </label>
								<textarea name="description" rows="4" id="newEpisodeDesc" class="form-control p-2">
									<%- episode.description ?? ''%></textarea>
							</div>

				<!--  -->
				<div class="d-grid">
					<button class="btn btn-primary btn-sm" >ویرایش</button>
				</div>
			</div>
			<input type="hidden" name="course" value="<%= episode.course %>">
		</form>
	</div>
	<!-- create a new course form end -->
</div>

